body {
	margin: 0;
	padding: 0;
    background-image: url('slider\ 2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
*, *:before, *:after {
  box-sizing: border-box;
}
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 30px #000;
    background: rgba(0,0,0,0.5);
}
#chk1{
    display: none;
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 0.5;
    margin-left: 50px;
	margin-top: 30px;
    margin-bottom: 10px;
}
header .search-box{
    flex: 1;
    position: relative;
}
.a, .a input {
    cursor: pointer;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
}
.user {
    padding-top: 10px;
    display: flex;
    align-items: center;
}    
button {
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.container1 {
    width: 50%;
    height: 100vh;
    background: rgb(26 26 26 / 30%);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}
.info {
    color: #fff;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(-50%);
}
.info h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 4px;
}
.info p{
    color: #f0eef1;
    font-size: 20px;
    margin: 20px 0;
    line-height: 18px;
}
.search-box button{
    cursor: pointer;
    padding: 10px 10px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:10px;
    right: 20px;
    transform: scale(0.9);
    background: green;
    color: #fff;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
}
.wrapper{
    margin: 50px auto 0 auto;
    overflow: hidden;
    width: 390px;
    padding: 30px;
    background-color: #0000; 
    backdrop-filter: blur(3px);
    border-radius: 75px;
    border-style: solid;
    border-color: #f0eef183;
  }
  .wrapper .title-text{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    width: 200%;
  }
  .wrapper .title{
    color:#e6e6f1;
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 95%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 3px solid #f2f2f2;
    border-radius: 25px;
    border-style:solid;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #4a3e5279, #31213a);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: rgb(212, 233, 203);
  }
  #login:checked ~ label.signup{
    color: rgb(212, 233, 203);
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color: #d6d6d6;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 10px;
  }
  .form-inner form .signup-link{
    color: #fff;
    text-align: center;
    margin-top: 30px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #ebebeb;
    font-style:oblique;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #3593b8, #2740b3, #0e97b9, #2158cf);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  .wrapper1{
    max-width: 485px;
    width: 100%;
    background: #fff;
    padding: 22px 30px 40px;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.05);
  }
  .wrapper1 header{
    color: #4db2ec;
    font-size: 33px;
    font-weight: 500;
    text-align: center;
  }
  .wrapper1 .captcha-area{
    display: flex;
    height: 65px;
    margin: 30px 0 20px;
    align-items: center;
    justify-content: space-between;
  }
  .captcha-area .captcha-img{
    height: 100%;
    width: 345px;
    user-select: none;
    background: #000;
    border-radius: 5px;
    position: relative;
  }
  .captcha-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0.95;
  }
  .captcha-img .captcha{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    color: #fff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 10px;
    transform: translate(-50%, -50%);
    text-shadow: 0px 0px 2px #b1b1b1;
    font-family: 'Noto Serif', serif;
  }
  .wrapper1 button{
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #4db2ec;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .wrapper1 button:hover{
    background: #2fa5e9;
  }
  .captcha-area .reload-btn{
    width: 75px;
    height: 100%;
    font-size: 25px;
  }
  .captcha-area .reload-btn i{
    transition: transform 0.3s ease;
  }
  .captcha-area .reload-btn:hover i{
    transform: rotate(15deg);
  }
  .wrapper1 .input-area{
    height: 60px;
    width: 100%;
    position: relative;
  }
  .input-area input{
    width: 100%;
    height: 100%;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
  }
  .input-area input:is(:focus, :valid){
    padding-left: 19px;
    border: 2px solid #4db2ec;
  }
  .input-area input::placeholder{
    color: #bfbfbf;
  }
  .input-area .check-btn{
    position: absolute;
    right: 7px;
    top: 50%;
    font-size: 17px;
    height: 45px;
    padding: 0 20px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
  }
  .input-area input:valid + .check-btn{
    opacity: 1;
    pointer-events: auto;
  }
  .wrapper1 .status-text{
    display: none;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 -5px;
  }
  @media (max-width: 506px){
    body{
      padding: 0 10px;
    }
    .wrapper{
      padding: 22px 25px 35px;
    }
    .wrapper header{
      font-size: 25px;
    }
    .wrapper .captcha-area{
      height: 60px;
    }
    .captcha-area .captcha{
      font-size: 28px;
      letter-spacing: 5px;
    }
    .captcha-area .reload-btn{
      width: 60px;
      margin-left: 5px;
      font-size: 20px;
    }
    .wrapper .input-area{
      height: 55px;
    }
    .input-area .check-btn{
      height: 40px;
    }
    .wrapper .status-text{
      font-size: 15px;
    }
    .captcha-area .captcha-img{
      width: 250px;
    }
  }