body {
	margin: 0;
	padding: 0;
  background-image: url('slider\ 2.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
*, *:before, *:after {
  box-sizing: border-box;
}
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 30px #000;
    background: rgba(0,0,0,0.5);
}
#chk1{
    display: none;
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 0.5;
    margin-left: 50px;
	margin-top: 30px;
    margin-bottom: 10px;
}
.a, .a input {
    cursor: pointer;
}
.user {
    padding-top: 10px;
    display: flex;
    align-items: center;
}    
button {
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.container1 {
    width: 50%;
    height: 100vh;
    background: rgb(26 26 26 / 30%);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}
.info {
    color: #fff;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(-50%);
}
.info h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 4px;
}
.info p{
    color: #f0eef1;
    font-size: 20px;
    margin: 20px 0;
    line-height: 18px;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    }
}
.wrapper{
    margin: 30px auto 0 auto;
    overflow: hidden;
    width: 390px;
    padding: 30px;
    background-color: #0000; 
    backdrop-filter: blur(3px);
    border-radius: 75px;
    border-style: solid;
    border-color: #f0eef183;
  }
  .wrapper .title-text{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    width: 200%;
  }
  .wrapper .title{
    color:#e6e6f1;
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .wrapper .slide-controls{
    position: relative;
    display: flex;
    height: 50px;
    width: 95%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 3px solid #f2f2f2;
    border-radius: 25px;
    border-style:solid;
  }
  .slide-controls .slide{
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
  }
  .slide-controls label.signup{
    color: #000;
  }
  .slide-controls .slider-tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #4a3e5279, #31213a);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  input[type="radio"]{
    display: none;
  }
  #signup:checked ~ .slider-tab{
    left: 50%;
  }
  #signup:checked ~ label.signup{
    color: #fff;
    cursor: default;
    user-select: none;
  }
  #signup:checked ~ label.login{
    color: rgb(212, 233, 203);
  }
  #login:checked ~ label.signup{
    color: rgb(212, 233, 203);
  }
  #login:checked ~ label.login{
    cursor: default;
    user-select: none;
  }
  .wrapper .form-container{
    width: 100%;
    overflow: hidden;
  }
  .form-container .form-inner{
    display: flex;
    width: 200%;
  }
  .form-container .form-inner form{
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .form-inner form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .form-inner form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .form-inner form .field input:focus{
    border-color: #d6d6d6;
  }
  .form-inner form .field input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field input:focus::placeholder{
    color: #b3b3b3;
  }
  .form-inner form .pass-link{
    margin-top: 10px;
  }
  .form-inner form .signup-link{
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link a{
    color: #ebebeb;
    font-style:oblique;
    text-decoration: none;
  }
  .form-inner form .pass-link a:hover,
  .form-inner form .signup-link a:hover{
    text-decoration: underline;
  }
  form .btn{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  form .btn .btn-layer{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #3593b8, #2740b3, #0e97b9, #2158cf);
    border-radius: 5px;
    transition: all 0.4s ease;;
  }
  form .btn:hover .btn-layer{
    left: 0;
  }
  form .btn input[type="submit"]{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
  }
  .icon-area {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .icon-area i {
    font-size: 25px;
  }
  