body {
	margin: 0;
	padding: 0;
    background-image: url('Main\ Background.png');
    background-repeat: no-repeat;
    background-size: 100%;
}
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 0 30px #000;
    background: rgba(0,0,0,0.5);
}
#chk1{
    display: none;
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 0.5;
    margin-left: 50px;
	margin-top: 30px;
    margin-bottom: 10px;
}   
button {
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.info {
    color: #fff;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(-50%);
}
.info h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    letter-spacing: 4px;
}
.info p{
    color: #f0eef1;
    font-size: 20px;
    margin: 20px 0;
    line-height: 18px;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}

/*Cards*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    color: #8a8a8a;
}
.column {
    margin-right: 13px;
    margin-left: 13px;
    margin-top: 60px;
    text-align: center;
    float: left;
    width: 23%;
    margin-bottom: 16px;
    padding: 0 8px;
}
.u-text2{
    color: #fff;
    font-family: system-ui;
    letter-spacing: 9px;
    text-align: center; 
    line-height: 1.1;
    font-size: 3.75rem; 
    text-transform: uppercase; 
    font-weight: 500; 
    margin: 9px 0 0;
}  
.u-text1{
    color: #fff;
    font-family: system-ui;
    letter-spacing: 9px;
    font-size: 2.25rem;
    line-height: 1.1;
    padding-left:10px; 
    text-transform: uppercase; 
    font-weight: 200; 
    margin: 80px 0 0; 
    text-align: center;
}
.container {
    padding: 0 16px;
    margin-bottom: 50px;
}
.container h2{
    font-family: system-ui;
    text-transform: uppercase; 
    color: #ffffff;
    font-size: 16px;
}
.title {
    color: rgba(238, 238, 238, 0.781);
    font-size: 16px;
}
  .box{
    width: 100%;
    margin: 50px auto;
 }
 .faqs{
    padding: 0px 20px 20px;
 }
 details{
    color: rgba(238, 238, 238, 0.781);;
    text-align: center;
    padding: 5px 20px;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
 }
 details summary{
    outline: none;
    color:rgba(238, 238, 238, 0.911);;
    text-align: center;
    font-family: system-ui;
    font-size: 16px;
 }
 .footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 30px 0 0px;
    text-align: center;
}
.footer p{
    color:#8a8a8a;
    font-size: 14px;
}
.footer h3{
    color: #c5c3c3;
    font-size: 21px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
}
.footer-col-2 img{
    width: 25%;
    margin-bottom: 10px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
.footer-ul {
    list-style-type: none;
    margin-right: 35px;
    color: #8a8a8a;
    font-size: 15px;
}
.link:hover { 
    color: #bcccbc; 
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;  
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.copyright_link a {
    display: inline-block;
    padding: 0 0.5em;
    font-weight: 700;
    margin-left: 25px;
    text-decoration: none;
    color: #3067ab;
}
.copyright_links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 1rem 0 2rem;
}
@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #D3D3D3;
        width: 100%;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color:#fff
    }
    .row {
        display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
    }
}